<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container pagestyle">

<header th:replace="fragments :: header"></header>

    <h1 class="pt-3">Stats</h1>

    <div class="tab">
        <button class="tablinks" onclick="openTable(event, 'AveragesDay')">Averages By Day</button>
        <button class="tablinks" onclick="openTable(event, 'Streaks')">Streaks</button>
        <button class="tablinks" onclick="openTable(event, 'AveragesHabit')">Averages By Habit</button>
    </div>
    <div class="tabcontent" id="AveragesDay">
            <h4 class="py-3">Averages per day:</h4>
            <table class="table table-striped table-light">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Current Week</th>
                        <th scope="col">Overall</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Mood score:</th>
                        <td th:text="${avgMoodCurrentWeek}"></td>
                        <td th:text="${avgMoodOverall}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Energy score:</th>
                        <td th:text="${avgEnergyCurrentWeek}"></td>
                        <td th:text="${avgEnergyOverall}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Hours of Sleep:</th>
                        <td th:text="${avgHrsSleepCurrentWeek}"></td>
                        <td th:text="${avgHrsSleepOverall}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Alcoholic drinks:</th>
                        <td th:text="${avgAlcoholCurrentWeek}"></td>
                        <td th:text="${avgAlcoholOverall}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Servings of caffeine:</th>
                        <td th:text="${avgCaffeineCurrentWeek}"></td>
                        <td th:text="${avgCaffeineOverall}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Days Exercised (total):</th>
                        <td th:text="${daysExercisedCurrentWeek}"></td>
                        <td th:text="${daysExercisedOverall}"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <div class="tabcontent" id="Streaks">
            <h4 class="py-3">Max Streaks (Days in a row):</h4>
            <table class="table table-striped table-light">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Overall</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Ate breakfast:</th>
                    <td th:text="${maxStreakBreakfast}"></td>
                </tr>
                <tr>
                    <th scope="row">Exercised:</th>
                    <td th:text="${maxStreakExercise}"></td>
                </tr>
                <tr>
                    <th scope="row">Two or fewer drinks:</th>
                    <td th:text="${maxStreakAlcohol}"></td>
                </tr>
                <tr>
                    <th scope="row">Slept 7+ hours:</th>
                    <td th:text="${maxStreakSleep}"></td>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="tabcontent" id="AveragesHabit">
            <h4 class="py-3">Averages by Habit:</h4>
            <table class="table table-striped table-light">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Mood</th>
                    <th scope="col">Energy Level</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Overall:</th>
                    <td th:text="${avgMoodOverall}"></td>
                    <td th:text="${avgEnergyOverall}"></td>
                </tr>
                <tr>
                    <th scope="row">Had breakfast:</th>
                    <td th:text="${avgMoodBreakfastTrue}"></td>
                    <td th:text="${avgEnergyBreakfastTrue}"></td>
                </tr>
                <tr>
                    <th scope="row">Exercised:</th>
                    <td th:text="${avgMoodExerciseTrue}"></td>
                    <td th:text="${avgEnergyExerciseTrue}"></td>
                </tr>
                <tr>
                    <th scope="row">Slept 7+ hours:</th>
                    <td th:text="${avgMoodSleptSeven}"></td>
                    <td th:text="${avgEnergySleptSeven}"></td>
                </tr>
                <tr>
                    <th scope="row">Spent time outside:</th>
                    <td th:text="${avgMoodOutsideTrue}"></td>
                    <td th:text="${avgEnergyOutsideTrue}"></td>
                </tr>
                </tbody>
            </table>
    </div>
</body>
</html>