<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>Date</th>
        <td th:text="${dailyLog.date}"></td>
    </tr>
    <tr>
        <th>Mood Score</th>
        <td th:text="${dailyLog.moodScore}"></td>
    </tr>
    <tr>
        <th>Energy Score</th>
        <td th:text="${dailyLog.energyScore}"></td>
    </tr>
    <tr>
        <th>Ate Breakfast?</th>
        <td th:text="${dailyLog.ateBreakfast}"></td>
    </tr>
    <tr>
        <th>Ate Lunch?</th>
        <td th:text="${dailyLog.ateLunch}"></td>
    </tr>
    <tr>
        <th>Ate Dinner?</th>
        <td th:text="${dailyLog.ateDinner}"></td>
    </tr>
    <tr>
        <th>Took Medicine?</th>
        <td th:text="${dailyLog.tookMedicine}"></td>
    </tr>
    <tr>
        <th>Number of Alcoholic Drinks</th>
        <td th:text="${dailyLog.alcoholicDrinks}"></td>
    </tr>
    <tr>
        <th>Number of Caffeinated Drinks</th>
        <td th:text="${dailyLog.caffeinatedDrinks}"></td>
    </tr>
    <tr>
        <th>Exercised?</th>
        <td th:text="${dailyLog.didExercise}"></td>
    </tr>
    <tr>
        <th>Went Outside?</th>
        <td th:text="${dailyLog.wentOutside}"></td>
    </tr>
    <tr>
        <td>
            <a th:href="@{'/dailyLog/edit/' + ${dailyLog.id}}">Edit</a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{'/dailyLog/delete/' + ${dailyLog.id}}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>