<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container homestyle">

<header th:replace="fragments :: header"></header>

<div class="container my-3 border border-light rounded justify-content-center">
<h1 class="my-3">About</h1>

    <div class="row">

    <p class="col-9">This application helps you get insights into your habits. Log information about your day to track habits
        and see summarized data points.</p>

    </div>

</div>
</body>
</html>