<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Voyager</title>
    <link rel="stylesheet" th:href="@{/liftoff-project.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!--<div th:fragment="header" class="navbar navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <a th:href="@{/}" class="navbar-brand">??</a>-->
<!--        </div>-->
<!--        <div class="navbar-collapse collapse">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li><a th:href="@{/dailyLog/add}">Add Entry</a></li>-->
<!--                <li><a th:href="@{/dailyLog/summary}">View Summary</a></li>-->
<!--                <li><a th:href="@{/logout}">Log Out</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <h1 th:text="${title}">Voyager</h1>-->
<!--    <ul class="nav justify-content-end">-->
<!--        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="/dailyLog/add">Add Entry</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="/dailyLog/summary">View Summary</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>-->
<!--    </ul>-->
<!--</div>-->


<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dailyLog/add">Add Entry <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dailyLog/summary">View Summary</a>
            </li>
        </ul>
        <ul class="navbar-nav" style="float:right;">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>