<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>

<body class="container homestyle">

<header th:replace="fragments :: header"></header>

<div sec:authorize="isAnonymous()" class="my-3">
    <p>Let's get started.</p>
</div>

<div sec:authorize="isAuthenticated()" class="my-3">
    <h2>Hi, <span>[[${#request.remoteUser}]]</span>!</h2>
</div>
</body>
</html>